<html>
  <head>
    <title>GilterView</title>
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

  </head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                                            </a>
          <a class="brand" href="/">GilterView</a>
        </div>
      </div>
    </div>
    <div class="bookmarklet">
      <p>Drag the link below to add to bookmarks</p>
      <a id="codeOut" href="javascript:(function(){_my_script=document.createElement('SCRIPT');_my_script.type='text/javascript';_my_script.src='http://gilterview.herokuapp.com/scripts/a.js';document.getElementsByTagName('head')[0].appendChild(_my_script);})();">GilterView</a>
    </div>
  </body>
</html>

